[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
python-dotenv = "*"
apscheduler = "*"
django = "*"
pillow = "*"
django-ckeditor = "*"
unicode-slugify = "*"
django-extensions = "*"
django-simple-captcha = "*"
pytz = "*"
requests = "*"
django-el-pagination = "*"
django-yaturbo = "*"
regex = "*"
fuzzywuzzy = {extras = ["speedup"], version = "*"}
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
start = "python start.py"
reload = "nodemon --ext py --exec 'pipenv run start' --watch './**/*'"
